{% extends 'base.html' %}

{% block content %}
{{block.super}}



<div class="container">
  <div class="row">
    {% for pics_item in dis %}

    <div class="modal fade" id="basicExampleModal{{pics_item.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel" style="font-family: 'Itim', cursive;">{{pics_item.category}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" >
                    <img class="card-img-top " style="height:auto;width: 100%" id="img" class="mode" src="{{pics_item.article_image.url}}" alt="Card image cap">
                    <p style="font-family: 'Itim', cursive; color: black;">Location: {{pics_item.post}} <br> Category: {{pics_item.category}}</p>
            </div>
            <div class="modal-footer">
                <input type="text" value="{{pics_item.article_image.url}}"id={{pics_item.id}}.url>
            </div>
          </div>
        </div>
      </div>


    <div class="col-md-4" style="box-shadow: 2px 2px 2px 2px grey;">
        <h2 class="text-center"> {{ pics_item.category }} </h2>
        <img src="{{pics_item.article_image.url}}" width="100%" height="auto" class="img-responsive" data-toggle="modal" data-target="#basicExampleModal{{pics_item.id}}">
       <br><br>
       <center><a href="#" class="btn btn-primary">View Details</a></center><br><br>
      </div>
      {% endfor %}
  </div>
</div>

{% endblock %}
